@font-face {
    font-family: Sans;
    src: url(./DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(./Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url(./Poppins//Poppins-SemiBold.ttf);
}